<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스 설정과 관련된 태그 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
	
		<typeAlias type = "com.kh.bunny.member.model.vo.Member"  alias = "Member"/> 
		<typeAlias type = "com.kh.bunny.adminMember.model.vo.adminMember"  alias = "AdminMember"/> 
		<typeAlias type = "com.kh.bunny.common.Str2ArrayHandler" alias = "Str2ArrayHandler" />
		<typeAlias type = "com.kh.bunny.product.model.vo.Product" alias = "Product" />
		<typeAlias type = "com.kh.bunny.auction.model.vo.Auction" alias = "Auction" /> 
		<typeAlias type = "com.kh.bunny.auction.model.vo.Bidder" alias = "Bidder" /> 
		<typeAlias type = "com.kh.bunny.product.model.vo.PComment"  alias = "PComment"/>  
		<typeAlias type = "com.kh.bunny.QNA.model.vo.QNA"  alias = "QNA"/> 
		<typeAlias type = "com.kh.bunny.QNA.model.vo.QComment"  alias = "QComment"/> 
		<typeAlias type = "com.kh.bunny.notice.model.vo.Notice"  alias = "Notice"/> 
		<typeAlias type = "com.kh.bunny.report.model.vo.Report"  alias = "Report"/>
		<typeAlias type = "com.kh.bunny.point.model.vo.BunnyPoint" alias = "BunnyPoint" />
		<typeAlias type = "com.kh.bunny.point.model.vo.PointHistory" alias="PointHistory"/>
		<typeAlias type = "com.kh.bunny.deal.model.vo.Deal" alias = "Deal" />
		<typeAlias type="com.kh.bunny.review.model.vo.Review" alias="review"/>
		<typeAlias type = "com.kh.bunny.point.model.vo.UsedPoint" alias="UsedPoint"/>
		<typeAlias type="com.kh.bunny.love.model.vo.Love" alias="love"/>
		
	</typeAliases>
	
	
	<typeHandlers>
		<package name="com.kh.bunny.common"/>
	</typeHandlers>
</configuration>










