<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	
	<!-- 최신글 기준으로 정렬 -->
	<select  id="selectAdminList" resultType="AdminMember">
		SELECT * FROM ADMIN ORDER BY ADMINID DESC
	</select>
	
	<!-- 총 게시글 수  -->
	<select  id="selectAdminTotalContents" resultType="_int">
		SELECT COUNT(*) FROM ADMIN
	</select>
	
	<update id="selectOneStatusOn" parameterType="_int" >
		UPDATE ADMIN 
		 <set>
			ASTATUS = 0 	  
		 </set> 
		WHERE ADMINID = #{userId}		
	</update>
	
	<update id="selectOneStatusOff" parameterType="_int">
		UPDATE ADMIN 
		 <set>
			ASTATUS = 1 	  
		 </set> 
		WHERE ADMINID = #{userId}	
	</update>

	<insert id="insertadminMember" parameterType="AdminMember">
		INSERT INTO ADMIN VALUES (#{adminId}, #{adminPw}, 1)
	</insert>

	<select id="LoginMember" parameterType="String" resultType="AdminMember">
		SELECT * FROM ADMIN WHERE ADMINID = #{adminId}
	</select>
	
	<select  id="chartCategoryCount" resultType = "HashMap">
		SELECT C.PCNO, C.PCCONTENT ,NVL(P.A,0)AS CNT
		  FROM (
		       SELECT PCNO, COUNT(*) A
		         FROM PRODUCT 
		        GROUP BY PCNO
		  )P
		 RIGHT JOIN PCATEGORY C ON c.pcno = P.PCNO
	</select>
	
	<select id="chartChartMonthPCount" resultType="HashMap">
		 SELECT PTYPE, SUBSTR(PDATE,6,2)MONTH, COUNT(*)C
		  FROM PRODUCT
           WHERE PTYPE =1
		 GROUP BY PTYPE ,SUBSTR(PDATE,6,2) 
		 ORDER BY MONTH ASC
	</select>
	<select id="chartChartMonthACount" resultType="HashMap">
		 SELECT PTYPE, SUBSTR(PDATE,6,2)MONTH, COUNT(*)C
		  FROM PRODUCT
           WHERE PTYPE =2
		 GROUP BY PTYPE ,SUBSTR(PDATE,6,2) 
		 ORDER BY MONTH ASC
	</select>
	
		<select id="chartChartMonthCount" resultType="HashMap">
	SELECT A.*, NVL(A.MONTH,0) AS AM, P.* , NVL(P.MONTH,0)AS PM 
	  FROM (SELECT PTYPE AS P, SUBSTR(PDATE,6,2)MONTH, COUNT(*)PC
		  	  FROM PRODUCT
             WHERE PTYPE =1
		 	 GROUP BY PTYPE ,SUBSTR(PDATE,6,2) 
        	 ORDER BY MONTH ASC)P
	  FULL OUTER JOIN (SELECT PTYPE AS A, SUBSTR(PDATE,6,2)MONTH, COUNT(*)AC
					     FROM PRODUCT
			            WHERE PTYPE =2
					 	GROUP BY PTYPE ,SUBSTR(PDATE,6,2) 
			         	ORDER BY MONTH ASC)A ON A.MONTH = P.MONTH
	 ORDER BY (CASE WHEN AM > PM THEN PM ELSE AM END)   
	</select>
</mapper>










