<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	

	<select id="loginMember" parameterType="string" resultType="Member">
		SELECT * FROM MEMBER
		WHERE USERID = #{userId}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER 
		VALUES (#{userId}, #{userName}, #{userPwd},  #{email}, 
		        #{nickName}, #{phone}, #{birth}, NULL,
		       NULL , NULL , 0 , 0, 1)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		<set>
			
			USERPWD = #{userPwd},
			NICKNAME = #{nickName},
			
			PHONE = #{phone},
			INTRODUCE = #{introduce},
			PHOTO = #{photo}
			
			
			
		</set>
		WHERE USERID = #{userId}
	</update>
	
	<delete id="deleteMember" parameterType="string">
		DELETE FROM MEMBER
		WHERE USERID = #{userId}
	</delete>
	
	
	
	
	
    
    <select id = "findId" parameterType="Member" resultType="Member">
    	SELECT USERID FROM MEMBER
    	WHERE EMAIL = #{email} AND USERNAME=#{userName}
    </select>
    
    <!-- 비밀번호 변경 -->
    <update id="pwdUpdate" parameterType="Member">
			UPDATE MEMBER SET USERPWD = #{userPwd} WHERE USERID = #{userId}
		</update>
		
	<select id="idDupCheck" parameterType="string" resultType="_int">
			SELECT COUNT(*) FROM MEMBER WHERE USERID= #{userId}
		</select>
		
	<select id="nickDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE NICKNAME = #{nickName}
	</select>
	
	<select id="emailDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{email}
	</select>
	
	<select id="phoneDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE PHONE = #{phone}
	</select>
	
	<select id="findSeller"  resultType="Member">
		SELECT * FROM MEMBER WHERE NICKNAME = #{nickName}
	</select>
	
    <!-- admin -->
	<select  id="selectMemberList" resultType="member">
		SELECT * FROM MEMBER ORDER BY COUNT DESC
	</select>
	
	<select  id="selectMemberTotalContents" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<update id="selectOneCountUp" parameterType="_int" >
		UPDATE MEMBER 
		 <set>
			MSTATUS = 0 	  
		 </set> 
		WHERE USERID = #{userId}		
	</update>
	
	<update id="selectOneCountDown" parameterType="_int">
		UPDATE MEMBER 
		 <set>
			MSTATUS = 1 	  
		 </set> 
		WHERE USERID = #{userId}	
	</update>
	<select id="findPwdUserId" resultType="String">
		SELECT USERID FROM MEMBER WHERE EMAIL = #{email}
	</select>
	
    <select id="searchMemberList" parameterType = "hashmap" resultType = "Member">
		SELECT * FROM MEMBER
		<bind name = "myPattern" value = "'%' + keyword + '%'"/>
		
		<where>
			<if test="condition == 'userId'">
				USERID LIKE #{myPattern}
			</if>
			<if test="condition == 'userName'">
				USERNAME LIKE #{myPattern}
			</if>
			<if test="condition == 'userNickName'">
				NICKNAME LIKE #{myPattern}
			</if>
			
			<if test="condition == 'all'">
				 USERID LIKE #{myPattern} OR USERNAME LIKE #{myPattern}  OR NICKNAME LIKE #{myPattern} 
			</if> 
		</where>
	    ORDER BY COUNT DESC
	</select>
	
		<select id="selectSMemberTotalContent" parameterType = "hashmap" resultType = "_int">
		SELECT COUNT(*) 
		  FROM MEMBER		  
		 <bind name = "myPattern" value = "'%' + keyword + '%'"/>
		 <where>
			<if test="condition == 'userId'">
				USERID LIKE #{myPattern}
			</if>
			<if test="condition == 'userName'">
				USERNAME LIKE #{myPattern}
			</if>
			<if test="condition == 'userNickName'">
				NICKNAME LIKE #{myPattern}
			</if>
			
			<if test="condition == 'all'">
				 USERID LIKE #{myPattern} OR USERNAME LIKE #{myPattern}  OR NICKNAME LIKE #{myPattern} 
			</if> 
		</where>
	</select>
	
	
	
</mapper>

