<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pointMapper">
	
	<insert id="pointChargeInsert" parameterType="BunnyPoint">
		INSERT INTO BUNNYPOINT
		VALUES(SEQ_BPNO.NEXTVAL, #{userId}, SYSDATE, #{bPoint}, 1)
	</insert>
	
	<select id="selectOneNowPoint" resultType="_int">
		SELECT NOWPOINT
		  FROM MEMBER
		 WHERE NICKNAME = #{userId}
	</select>
	
	<select id="selectMyPoint" resultType="PointHistory">
		SELECT PH.*, B.BPDATE, B.BPSTATUS
		  FROM POINTHISTORY PH
		  JOIN BUNNYPOINT B ON (PH.BPNO = B.BPNO)
		 WHERE PH.USERID = #{userId}
		 ORDER BY PH.PHNO DESC
	</select>
	
	<select id="selectPointTotalContents" resultType="_int">
		SELECT COUNT(*) 
		  FROM POINTHISTORY
		 WHERE USERID = #{userId}
	</select>
	<select id="selectAllProduct" resultType="Product">
		SELECT *
		  FROM PRODUCT 
	     WHERE PSTATUS = 1
	       AND PNO = ${pno}
		 ORDER BY PDATE DESC, PNO DESC
	</select>
</mapper>

<!-- bidder 가 한명이라도 있으면 가격이 바뀌어야 함 (보여지는게)  -->








