<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
	
	<!-- 상품 검색하는 쿼리 -->
	<select id="searchProductList" parameterType = "hashmap" resultType = "Product">
		SELECT * FROM PRODUCT
		<bind name = "myPattern" value = "'%' + keyword + '%'"/>
		
		<where>
			<if test="condition == 'writer'">
				PWRITER LIKE #{myPattern}
			</if> 
			<if test="condition == 'content'">
				PCONTENT LIKE #{myPattern}
			</if>
			<if test="condition == 'title'">
				PTITLE LIKE #{myPattern}
			</if>
			
			<if test="condition == 'all'">
				PWRITER LIKE #{myPattern} OR PCONTENT LIKE #{myPattern} OR PTITLE LIKE #{myPattern} 
			</if> 
		</where>
		
	
	</select>
	
	<!-- 상품 목록을 출력하는 쿼리 -->
	<select id="selectProductList" resultType = "Product"> 
		SELECT *
		FROM PRODUCT WHERE PTYPE = 1 
		ORDER BY PDATE DESC, PNO DESC
	</select>
	
	<!-- 상품 목록을 지도에 출력하기 위한 쿼리 -->
	<select id="selectProductListMap" resultType = "Product">
		SELECT *
		FROM PRODUCT 
		ORDER BY PDATE DESC, PNO DESC
	</select>

	<!-- 총 상품의 개수를 출력하는 쿼리 -->
	<select id="selectProductTotalContent" resultType = "_int">
		SELECT COUNT(*) FROM PRODUCT WHERE PTYPE = 1
	</select>
	
	<!-- 상품 게시글의 상세보기를 하는 쿼리 -->
	<select id="selectOneProduct" resultType = "Product">
		SELECT * FROM PRODUCT
		WHERE PNO = #{pno} AND PTYPE = 1
	</select>
	
	<!-- 상품 구매하기 -->
	<update id = "purchaseProduct" parameterType = "Product">
		UPDATE PRODUCT 
		<set>
			PBUYER = #{pBuyer},
			PSTATUS = #{pStatus}
		</set>
		WHERE PNO = #{pno}
		
	
	</update>
	
	<!-- 상품 게시글 조회수 -->
	<update id="updateTotalCount">
		UPDATE PRODUCT SET PTOTAL = PTOTAL+1 WHERE PNO = #{pno}	
	</update>
	
	<!-- 상품 게시글을 상세보기하면서 댓글 목록 불러오기 -->
	<select id="selectPCommentList" resultType = "PComment">
		SELECT * FROM PCOMMENT 
		WHERE PNO = #{pno}
		ORDER BY PCDATE DESC
	</select>
	
	<!-- 댓글 생성 -->
	<insert id = "insertPComment" parameterType = "PComment">
		INSERT INTO PCOMMENT 
		VALUES(SEQ_PCMNO.NEXTVAL, #{pno}, #{pcWriter}, #{pcContent}, TO_CHAR(SYSTIMESTAMP, 'YYYY/mm/dd hh24:mi:ss.ff2'), #{ref_pcmno}, #{pcLevel})
	</insert>

	
	<!-- 댓글 수정 -->
	<update id = "updatePComment" parameterType = "PComment">
		UPDATE PCOMMENT
		<set>
			PCCONTENT = #{pcContent}
		</set>
		WHERE PCMNO = #{pcmno} <!-- pno는 굳이 넣을 필요 없을거같지만.. -->
	</update>
	
	<!-- 댓글 삭제 -->	
	<delete id = "deletePComment" parameterType = "_int">
		DELETE FROM PCOMMENT
		WHERE PCMNO = #{pcmno}
	</delete>
	
	<!-- 상품 게시글 생성하는 쿼리 -->
	<insert id = "insertProduct" parameterType = "Product">
		INSERT INTO PRODUCT
		VALUES(SEQ_PNO.NEXTVAL, #{pWriter}, #{pcno}, #{pImg}, #{pTitle}, #{pContent}, #{pPrice}, TO_CHAR(SYSTIMESTAMP, 'YYYY/mm/dd hh24:mi:ss.ff2'), DEFAULT, 1, #{pAddress}, DEFAULT, NULL, 0)
	<!-- 
		1과 마지막의 '진구','도라에몽'은 #{pWriter}, #{pBuyer}인데 로그인 기능이 완성되면 넣는 것으로.
	 -->
	</insert>

	<!-- 상품 게시글 삭제하는 쿼리 -->
	<delete id = "deleteProduct" parameterType = "_int">
		DELETE FROM PRODUCT
		WHERE PNO = #{pno} AND PTYPE = 1
	</delete>
	
	<!-- 상품 게시글 수정하는 쿼리 -->
	<update id = "updateProduct" parameterType = "Product">
		UPDATE PRODUCT
		<set>
			PTITLE = #{pTitle},
			PPRICE = #{pPrice},
			PADDRESS = #{pAddress},
			PCONTENT = #{pContent},
			PCNO = #{pcno},
			<if test = "pImg != null">
				PIMG = #{pImg}
			</if>
		</set>
		WHERE PNO = #{pno} AND PTYPE = 1
	</update>
	
	<select id="selectOneReplyPcmno" resultType="_int">
		SELECT COUNT(*)
		  FROM PCOMMENT
		 WHERE REF_PCMNO = #{pcmno}
	</select>
	
	<select id="selectOneReplyPcWriter" resultType="String">
		SELECT PCWRITER
		  FROM PCOMMENT
		 WHERE PCMNO = #{pcmno}
	</select>
	
	<select id="selectOnePComment" resultType="Pcomment">
		SELECT *
		  FROM PCOMMENT
		 WHERE PNO = #{pno}
		   AND PCMNO = (SELECT MAX(PCMNO) FROM PCOMMENT WHERE PNO = #{pno})
	</select>
	
	<select id="sellCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT
		WHERE PWRITER = #{pWriter}
	</select>
	
	<select id="selectTradeList" parameterType="string" resultType = "Product">
      
      SELECT *
		FROM PRODUCT WHERE PTYPE = 1  AND PWRITER = #{nickName} AND PSTATUS = 1
		ORDER BY PDATE DESC, PNO DESC
   </select>
	
	<select id="selectTradeTotalContent" resultType = "_int">
		SELECT COUNT(*) 
		  FROM PRODUCT
		 WHERE PTYPE = 1 AND PWRITER = #{nickName} AND PSTATUS = 1
	</select>
	
	<select id="selectLoveList" parameterType="string" resultType = "PRODUCT">
      	SELECT * FROM PRODUCT P
		WHERE P.PNO IN (
		SELECT L.PNO FROM LOVE L
		WHERE L.USERID = #{nickName}
		)
      
   </select>
	
	<select id="selectLoveTotalContent" resultType = "_int">
		SELECT COUNT(*) FROM PRODUCT P
		WHERE P.PNO IN (
		SELECT L.PNO FROM LOVE L
		WHERE L.USERID = #{nickName}
		)
	</select>
	
	<!-- 구매완료 매퍼 -->
	<select id="selectCompleteProductList" parameterType="string" resultType = "PRODUCT">
      	SELECT * FROM PRODUCT P
		WHERE P.PNO IN (
		SELECT D.PNO FROM DEAL D
		WHERE D.DBID = #{nickName} AND D.DBSTATUS = 1 AND D.DSSTATUS=1 AND P.PTYPE = 1
		)
      
   </select>
	
	<select id="selectCompleteProductTotalContents" resultType = "_int">
		SELECT COUNT(*) FROM PRODUCT P
		WHERE P.PNO IN (
		SELECT D.PNO FROM DEAL D
		WHERE D.DBID = #{nickName} AND D.DBSTATUS = 1 AND D.DSSTATUS=1 AND P.PTYPE= 1
		)
	</select>
	

	<!-- 신고상품 제재 -->
	<update id="selectOnemakeZero" parameterType="_int">
		UPDATE PRODUCT SET PSTATUS = 0 WHERE PNO = #{pno}
	</update>

	
	<select id="sellCompleteProductList" parameterType="string" resultType = "PRODUCT">
      	SELECT * FROM PRODUCT P
		WHERE P.PNO IN (
		SELECT D.PNO FROM DEAL D
		WHERE D.DSID = #{nickName} AND D.DBSTATUS = 1 AND D.DSSTATUS=1 AND P.PTYPE = 1
		)
      
   </select>
   
   <select id="goTradeProduct" parameterType="string" resultType = "PRODUCT">
      	SELECT * FROM PRODUCT P
		WHERE P.PNO IN (
		SELECT D.PNO FROM DEAL D
		WHERE D.DSID = #{nickName} OR D.DBID = #{nickName} AND D.DBSTATUS != 1 AND D.DSSTATUS != 1 AND P.PTYPE = 1
		)
      
   </select>
	
</mapper>