<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">

	<select id="selectQNAList" resultType="QNA">
		SELECT Q.QNO, Q.QWRITER, Q.QTITLE, Q.QCONTENT, Q.QDATE
		          ,   (SELECT COUNT(*) FROM QCOMMENT QC WHERE QC.QNO = Q.QNO) QCCHECK
		  FROM QNA Q
		  JOIN MEMBER M ON Q.QWRITER = M.USERID
		  WHERE Q.QWRITER =#{userId}
		 ORDER BY Q.QDATE DESC
	</select>
	
	<select id="selectQNATotalContent" resultType="_int">
		SELECT COUNT(*)
		FROM QNA
	</select>

   <insert id="insertQNA">
   INSERT INTO QNA
   VALUES (SEQ_QNO.NEXTVAL, #{qWriter}, #{qTitle},#{qContent}, DEFAULT)
   </insert>
   
   <select id="selectOneQNA" parameterType="_int" resultType="QNA">
      SELECT * FROM QNA
      WHERE QNO =#{qno}
   </select>
   
   <update id="updateQNA" parameterType="QNA">
     UPDATE QNA SET
     QTITLE =#{qTitle},
     QCONTENT =#{qContent}
     WHERE QNO =#{qno}
   </update>
   
   <delete id="deleteQNA" parameterType="_int">
   DELETE FROM QNA
   WHERE QNO =#{qno}
   </delete>
   
   <select  id="selectCurrentQno" parameterType="_int" resultType="_int">
   		SELECT MAX(QNO) FROM QNA
   </select>
   
   <select  id="selectQCommentList" resultType= "QComment">
	SELECT QC.*, M.PHOTO 
	  FROM QCOMMENT QC
	  JOIN MEMBER M ON M.USERID = QC.QWRITER
	 WHERE QC.QNO = #{qno}
    ORDER BY QCDATE DESC
   </select>
   
   <insert id="insertQComment" parameterType="QComment">
     INSERT INTO QCOMMENT
     VALUES(SEQ_QCNO.NEXTVAL, #{qno}, #{qWriter}, #{qcContent}, TO_CHAR(SYSTIMESTAMP, 'YYYY/mm/dd hh24:mi:ss.ff2'),  #{ref_qcno}, #{qcLevel})
   </insert>
   
   <update id="updateQComment" parameterType="QComment">
     UPDATE QCOMMENT
      <set>
       QCCONTENT =#{qcContent}
      </set>
      WHERE QCNO =#{qcno}
   </update>
   
   <delete id="deleteQComment" parameterType="_int">
     DELETE FROM QCOMMENT
     WHERE QCNO =#{qcno}
   </delete>
   
   <!--  댓글에 대댓글이 몇개 달렸는지 찾는 쿼리 -->
   <select  id="selectOneReplyQcno" resultType="_int">
	 SELECT COUNT(*)
	 FROM QCOMMENT
	 WHERE REF_QCNO =#{qcno}
   </select> 
   
   <!-- 댓글의 작성자 누구인지 찾는 쿼리   -->
   <select id="selectOneRelyQWriter" resultType="String">
     SELECT QWRITER
     FROM QCOMMENT
     WHERE QCNO =#{qcno}
   </select>
   
   <!--  해당 글에서 가장 마지막 댓글을 찾는 쿼리 -->
   <select  id="selectOneQComment" resultType="Qcomment">
     SELECT * 
     FROM QCOMMENT
     WHERE QNO =#{qno}
     AND QCNO = (SELECT MAX(QCNO) FROM QCOMMENT WHERE QNO =#{qno})
   </select>
   
 <!--   <select id="selectQnAList" resultType="QNA">
		SELECT Q.QNO, Q.QWRITER, Q.QTITLE, Q.QCONTENT, Q.QDATE
		          ,   (SELECT COUNT(*) FROM QCOMMENT QC WHERE QC.QNO = Q.QNO) QCCHECK
		  FROM QNA Q
		 ORDER BY Q.QDATE DESC
	</select> -->
   <select id="selectQnAList" resultType="QNA">
	SELECT A.*, NVL(A.MONTH,0) AS AM, P.* , NVL(P.MONTH,0)AS PM FROM
      (SELECT PTYPE AS P, SUBSTR(PDATE,6,2)MONTH, COUNT(*)PC
		  FROM PRODUCT
            WHERE PTYPE =1
		 GROUP BY PTYPE ,SUBSTR(PDATE,6,2) 
         ORDER BY MONTH ASC)P
FULL OUTER JOIN 
        (SELECT PTYPE AS A, SUBSTR(PDATE,6,2)MONTH, COUNT(*)AC
		  FROM PRODUCT
            WHERE PTYPE =2
		 GROUP BY PTYPE ,SUBSTR(PDATE,6,2) 
         ORDER BY MONTH ASC)A 
ON A.MONTH = P.MONTH
ORDER BY (CASE WHEN AM > PM THEN PM ELSE AM END) 
	</select>
	
   <select  id="selectQCommentAllList" resultType= "QComment">
    SELECT QNO, QWRITER 
    FROM QCOMMENT
    ORDER BY QCDATE DESC
   </select>
   
   <select id="searchQnAList" parameterType = "hashmap" resultType = "QNA">
		SELECT *
		  FROM (
				SELECT ROW_NUMBER() OVER (PARTITION BY QNO ORDER BY CK DESC) NUM, A.*
				  FROM(
				      SELECT Q.*,(CASE WHEN QC.QWRITER LIKE 'adminbunny%' THEN 'Y'
				                  ELSE 'N' END) AS CK
				        FROM QNA Q
				        LEFT JOIN QCOMMENT QC ON Q.QNO = QC.QNO
				       ORDER BY Q.QDATE DESC, (CASE CK WHEN 'Y' THEN 1 ELSE 2 END) DESC
				)A )
		
		<bind name = "myPattern" value = "'%' + keyword + '%'"/>
		<where>
			NUM =1
			<if test="condition == 'title'">
				AND QTITLE LIKE #{myPattern}
			</if>
			<if test="condition == 'writer'">
				AND QWRITER LIKE #{myPattern}
			</if>
			<if test="condition == 'content'">
				AND QCONTENT LIKE #{myPattern}
			</if>
			<if test="condition == 'check'">
				AND CK LIKE #{myPattern}
			</if>
			<if test="condition == 'all'">
				 AND QTITLE LIKE #{myPattern} OR QWRITER LIKE #{myPattern} OR QCONTENT LIKE #{myPattern} OR CK LIKE #{myPattern}
			</if> 
		</where>
		ORDER BY CK, QDATE
	</select>
	
		<select id="selectSQnATotalContent" parameterType = "hashmap" resultType = "_int">
			SELECT COUNT(*)
			  FROM(
					SELECT ROW_NUMBER() OVER (PARTITION BY QNO ORDER BY CK DESC) NUM, A.*
					  FROM(
					      SELECT Q.*,(CASE WHEN QC.QWRITER LIKE 'adminbunny%' THEN 'Y'
					                  ELSE 'N' END) AS CK
					        FROM QNA Q
					        LEFT JOIN QCOMMENT QC ON Q.QNO = QC.QNO
					       ORDER BY Q.QDATE DESC, (CASE CK WHEN 'Y' THEN 1 ELSE 2 END) DESC
					)A )
	 
	 
		 <bind name = "myPattern" value = "'%' + keyword + '%'"/>
		 <where>
		 	NUM =1
			<if test="condition == 'title'">
				AND QTITLE LIKE #{myPattern}
			</if>
			<if test="condition == 'writer'">
				AND QWRITER LIKE #{myPattern}
			</if>
			<if test="condition == 'content'">
				AND QCONTENT LIKE #{myPattern}
			</if>
			<if test="condition == 'check'">
				AND CK LIKE #{myPattern}
			</if>
			<if test="condition == 'all'">
			 	AND QTITLE LIKE #{myPattern} OR QWRITER LIKE #{myPattern} OR QCONTENT LIKE #{myPattern} OR CK LIKE #{myPattern}
			</if> 
		</where>
		ORDER BY CK, QDATE
	</select>
</mapper>

