<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportMapper">

   <select  id="selectReportList" resultType="Report">
    SELECT R.RNO, R.RWRITER, R.RTITLE, R.RCONTENT, R.RDATE
    FROM REPORT R
    ORDER BY R.RDATE DESC
   </select>
   <select  id="selectReportTotalContents" resultType="_int">
   SELECT COUNT(*)
   FROM REPORT
   </select>
   
   <insert id="insertReport">
   INSERT INTO REPORT
   VALUES(SEQ_RNO.NEXTVAL, #{rcNo}, #{rWriter}, #{reported}, #{pno}, #{rTitle}, #{rContent}, DEFAULT)
   </insert>
   
   <select id="selectCurrentRno" parameterType="_int" resultType="_int">
  		SELECT MAX(RNO) FROM REPORT
	</select>
   
   <select  id="selectOneReport"  resultType="Report">
	SELECT R.*, RC.RCCONTENT
	  FROM REPORT R
	  JOIN RCATEGORY RC ON(RC.RCNO = R.RCNO)
	 WHERE RNO = #{rNo}
   </select>
   
   <update id="updateReport" parameterType="Report">
	   UPDATE REPORT SET
	   RTITLE =#{rTitle},
	   RCNO =#{rcNo},
	   REPORTED =#{reported},
	   PNO =#{pno},
	   RCONTENT =#{rContent}
	   WHERE RNO =#{rNo}
   </update>
   
   <delete id="deleteReport" parameterType="_int">
   DELETE FROM REPORT
   WHERE RNO =#{rNo}
   </delete>
</mapper>









