<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportMapper">

   <select  id="selectReportList" resultType="Report">
    SELECT R.RNO, R.RWRITER, R.RTITLE, R.RCONTENT, R.RDATE, P.PNO, P.PTYPE
    FROM REPORT R
    LEFT JOIN PRODUCT P ON (R.PNO = P.PNO)
    ORDER BY R.RDATE DESC
   </select>
   <select  id="selectReportTotalContents" resultType="_int">
   SELECT COUNT(*)
   FROM REPORT
   </select>
   
  <insert id="insertReport" parameterType="Report">
   INSERT INTO REPORT
   VALUES(SEQ_RNO.NEXTVAL, #{rcNo}, #{rWriter}, #{reported}, #{pno}, #{rTitle}, #{rContent}, DEFAULT)
   </insert>
   
   <select id="selectCurrentRno" parameterType="_int" resultType="_int">
  		SELECT MAX(RNO) FROM REPORT
	</select>
   
   <select  id="selectOneReport"  resultType="Report">
	SELECT R.*, RC.RCCONTENT
	  FROM REPORT R
	  JOIN RCATEGORY RC ON(RC.RCNO = R.RCNO)
	 WHERE RNO = #{rNo}
   </select>
   
   <update id="updateReport" parameterType="Report">
   UPDATE REPORT SET
    RTITLE =#{rTitle},
      RCONTENT =#{rContent}
	   WHERE RNO =#{rNo}
   
   </update>
   
   <delete id="deleteReport" parameterType="_int">
   DELETE FROM REPORT
   WHERE RNO =#{rNo}
   </delete>
   
   <insert id="insertDirectReport">
    INSERT INTO REPORT
    VALUES(SEQ_RNO.NEXTVAL, #{rcNo}, #{rWriter}, #{reported}, NULL, #{rTitle}, #{rContent}, DEFAULT)
   </insert>
   
   
   	<select id="oneProduct" resultType = "Product">
		SELECT * FROM PRODUCT
		WHERE PNO = #{pno}
	</select>
	
	<select id="searchReportList" parameterType = "hashmap" resultType = "Report">
		SELECT * FROM REPORT R
         JOIN PRODUCT P ON R.RNO = P.PNO
		<bind name = "myPattern" value = "'%' + keyword + '%'"/>
		<where>
			<if test="condition == 'writer'">
				RWRITER LIKE #{myPattern}
			</if>
			<if test="condition == 'title'">
				RTITLE LIKE #{myPattern}
			</if>
			<if test="condition == 'type'">
				PTYPE LIKE #{myPattern}
			</if>
			
			<if test="condition == 'all'">
				 RWRITER LIKE #{myPattern} OR RTITLE LIKE #{myPattern} OR PTYPE LIKE #{myPattern}
			</if> 
		</where>
	</select>
	
	<select id="selectSReportTotalContent" parameterType = "hashmap" resultType = "_int">
		SELECT COUNT(*) 
		  FROM REPORT R
         JOIN PRODUCT P ON R.RNO = P.PNO	  
		 <bind name = "myPattern" value = "'%' + keyword + '%'"/>
		 <where>
			<if test="condition == 'writer'">
				RWRITER LIKE #{myPattern}
			</if>
			<if test="condition == 'title'">
				RTITLE LIKE #{myPattern}
			</if>
			<if test="condition == 'type'">
				PTYPE LIKE #{myPattern}
			</if>
			<if test="condition == 'all'">
				 RWRITER LIKE #{myPattern} OR RTITLE LIKE #{myPattern} OR PTYPE LIKE #{myPattern}
			</if> 
		</where>
	</select>
</mapper>









