<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">

	<select id="selectSellerReview" resultType="Review">
		SELECT * FROM
		REVIEW 
		WHERE SELLERID = #{userId}
	</select>
	
	<insert id="insertReview" parameterType="Review">
		INSERT INTO REVIEW VALUES(SEQ_RENO.NEXTVAL, 2, #{review.rewriter},#{review.recontent},#{userId},#{review.rating}, 1)
	</insert>

	<select id="selectOneReCount" resultType="_int">
		SELECT COUNT(RECOUNT)
		  FROM REVIEW R
		 WHERE R.DNO = (SELECT D.DNO FROM DEAL D WHERE PNO = #{pno} AND DBID = #{userId})
	</select>
    
    
	
</mapper>










